body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    /* BACKGROUND IMAGE */
    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
        url("/static/images/bg.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.container {
    background: rgba(0, 0, 0, 0.55);
    padding: 40px;
    width: 420px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}

h1 {
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    opacity: 0.9;
}

input[type="file"] {
    display: block;
    margin: 10px auto 5px auto;
    text-align: center;
}


button {
    margin-top: 5px;
    background-color: #1cb5e0;
    border: none;
    padding: 8px 20px;
    font-size: 14px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0f9ac4;
}

.result {
    margin-top: 20px;
    padding: 12px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}
